#root {
    max-width: auto;
}

.appContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    position: relative;
}

.circle {
    position: relative;
    height: 0;
    right: 40%;
    width: 300px;
    /* height: auto; */
}
.circle-1 {
    position: absolute;
    top: 150px;
    margin-left: -180px;
    width: 627px;
    height: 627px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 40% 50% 0;
    animation: spin 15s linear 0s infinite reverse;
}

.circle-2 {
    position: absolute;
    top: 340px;
    margin-right: 50px;
    width: 440px;
    height: 440px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 30% 40% 0;
    animation: spin 15s linear 0s infinite;
}

.circle-3 {
    position: absolute;
    top: 250px;
    margin-left: 50px;
    width: 627px;
    height: 627px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 65% 60% 0;
    animation: spin 15s linear 0s infinite;
}

.circle-4 {
    position: absolute;
    top: 300px;
    margin-left: 121px;
    width: 188px;
    height: 188px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 75% 50% 0;
    animation: spin 15s linear 0s infinite reverse;
}

.circle-5 {
    position: absolute;
    top: 250px;
    width: 406px;
    height: 406px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 75% 50% 0;
    animation: spin 15s linear 0s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.backToTop {
    --offset: 50px;

    position: sticky;
    left: 90vw;
    bottom: 10px;
    margin-right:10px;
    margin-top: calc(100vh + var(--offset));
    z-index: 10;
}

.scroll-down-button {
    position: relative;
    width: 24px;
    height: 24px;
    border-left: 2px solid var(--main-contrast-color);
    border-bottom: 2px solid var(--main-contrast-color);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
    z-index: 5;
    top: -15vh;
}

@-webkit-keyframes sdb {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
