.view {
    display: flex;
    justify-content: space-evenly;
}

.view a {
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    position: relative;

    border-radius: 10px;
    border: 1px solid var(--main-lg-color);
    transition: background 0.5s ease, width 0.5s;
    background-color: var(--main-bg-color);

    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: var(--main-contrast-color);
    font-size: 1em;
}

.btn span {
    max-width: 0;
    display: inline-block;
    transition: color .25s 1.5s, max-width 2s;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.btn:hover span {
  max-width: 300px;
}

.btn:focus span {
  max-width: 300px;
}

.btn img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

#rocket:hover img {
    animation: testAnimation 3s ease forwards;
    animation-delay: 0.3s;
}

#rocket:focus img {
    animation: testAnimation 3s ease forwards;
    animation-delay: 0.3s;
}

@keyframes testAnimation {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(200px, -200px);
    }
    70% {
        opacity: 0;
    }
    90% {
        opacity: 0;
        transform: translate(0, 20px);
    }
    100% {
        opacity: 1;
    }
}

/* Style de base pour la carte */
.card {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

/* Face avant de la carte */
.front {
    width: 100%;
    height: 100%;
    /* background-color: #ddd; */
    backface-visibility: hidden;
}

/* Face arrière de la carte (contenu du terminal) */
.back {
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: #ddd; */
    backface-visibility: hidden;
    transform: rotateY(180deg);
}


/* Applique l'effet de rotation lorsqu'une classe is-flipped est présente */
.is-flipped {
    transform: rotateY(180deg);
}

.showTerm {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

@media screen and (max-width: 660px) {
    .btn span {
        max-width: 0;
        overflow: hidden;
    }

    .btn img {
        width: 30px;
        height: 30px;
        padding: 5px;
    }

    #rocket:hover img {
        animation: none;
    }

    #rocket:focus img {
        animation: none;
    }

    .btn:hover span {
        max-width: 0px;
    }

    .btn:focus span {
        max-width: 0px;
    }
}
