.appMenu {
    display: flex;
    width: 80%;
    border-bottom: 2px solid var(--main-contrast-color);
    align-items: center;
    justify-content: space-between;
}

.appMenu img {
    width: 30px;
    height: 30px;
}

.linkedinLogo {
    background-color: #fff;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
}

.appMenu h1 {
    padding-left: 2%;
    color: var(--main-contrast-color);
}

.appMenu-link {
    display: flex;
    gap: 20px;
    padding-right: 2%;
}

.menu__btn.open > span {
    transform: rotate(45deg);
}
.menu__btn.open > span::before {
    top: 0;
    transform: rotate(0deg);
}
.menu__btn.open > span::after {
    top: 0;
    transform: rotate(90deg);
}

.menu__btn {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 1em;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main-contrast-color);
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -10px;
}
.menu__btn > span::after {
  content: '';
  top: 10px;
}

.menu__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 110px;
    left: -110%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition-duration: .25s;
    z-index: 3;
}

/* Styles lorsque le menu est ouvert */
.menu__box.open {
    left: 0 !important;
}

.menu__item {
    display: flex;
    justify-content: center;
    min-width: 300px;
    max-width: 500px;
    padding: 10px 0px;
    color: var(--main-lg-color);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    border: 2px solid var(--main-contrast-color);
    background-color: var(--main-bg-color);
    border-radius: 15px;
    margin: 10px;
}

.menu__item:hover {
    background-color: var(--main-lg-color);
    color: var(--main-bg-color);
}

.submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -4em;
}

.submenu a {
    text-decoration: none;
}

.submenu__item {
    border-left: 2px solid var(--main-contrast-color);
    padding-left: 1em;
    color: var(--main-lg-color);
}

.submenu__item:hover {
    color: var(--main-bg-color);
    background-color: var(--main-lg-color);
}
