.circle-body {
    /* position: relative; */
    grid-area: 4 / 1 / 4 / 2;
    width: 100vw;
    margin-top: 30em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    z-index: 0;
}

.circle-6 {
    position: relative;
    width: 440px;
    height: 440px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 30% 40% 0;
    animation: spin 15s linear 0s infinite;
}

.circle-7 {
    position: relative;
    width: 188px;
    height: 188px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 75% 50% 0;
    animation: spin 15s linear 0s infinite reverse;
}

.circle-8 {
    position: relative;
    width: 406px;
    height: 406px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 75% 50% 0;
    animation: spin 15s linear 0s infinite;
}

.circle-9 {
    position: relative;
    width: 627px;
    height: 627px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 40% 50% 0;
    animation: spin 15s linear 0s infinite reverse;
}

.circle-10 {
    position: relative;
    width: 440px;
    height: 440px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 30% 40% 0;
    animation: spin 15s linear 0s infinite;
}

.circle-11 {
    position: relative;
    width: 627px;
    height: 627px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 65% 60% 0;
    animation: spin 15s linear 0s infinite;
}

.circle-12 {
    position: relative;
    width: 188px;
    height: 188px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 75% 50% 0;
    animation: spin 15s linear 0s infinite reverse;
}

.circle-13 {
    position: relative;
    width: 406px;
    height: 406px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 75% 50% 0;
    animation: spin 15s linear 0s infinite;
}

.circle-14 {
    position: relative;
    width: 440px;
    height: 440px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 30% 40% 0;
    animation: spin 15s linear 0s infinite;
}

.circle-15 {
    position: relative;
    width: 440px;
    height: 440px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 30% 40% 0;
    animation: spin 15s linear 0s infinite;
}

.circle-16 {
    position: relative;
    width: 627px;
    height: 627px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 65% 60% 0;
    animation: spin 15s linear 0s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
