.modalCV {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr .5fr;
    justify-items: center;
    align-items: center;

    width: 90%;
    height: 88vh;
    /* bottom: 10vh; */
    bottom: -15vh;

    border: 2px solid var(--main-lg-color);
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    transform: translateY(600px);
    transition: opacity 0.5s, transform 1s;
    z-index: 5;
}
.modalCV.show {
    opacity: 1;
    transform: translateY(0);
    bottom: 10vh;
}
.modalCV.show h1 {
    color: var(--main-contrast-color);
}

.displayCV {
    position: relative;
    min-width: 50%;
    padding: 0.5em;
    color: var(--main-contrast-color);
    font-size: 1em;
    background-color: var(--main-bg-color);
    border: 2px solid var(--main-lg-color);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
}

.displayCV:hover {
    color: var(--main-bg-color);
    background-color: var(--main-lg-color);
}

object {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

object span {
    width: 80%;
    border: 1px solid var(--main-lg-color);
}

#oops {
    font-size: 2em;
}
