/* ================ The Timeline ================ */

#projects {
    text-align: center;
    padding: 1em;
    color: var(--main-contrast-color);
}

.timeline {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15vh;
    padding: 1em 0;
    list-style-type: none;
}

.projects-container {
    grid-area: 4 / 1 / 4 / 2;
    z-index: 2;
}

.scrollContainer {
    position: sticky;
}

.scrollLine {
    width: 6px;
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, #393935 8%, #393935 92%, rgba(80,80,80,0) 100%);
    border-radius: 3px;

    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;

    overflow: hidden;
    transform: translateX(-50%);
}

.scrollProgress {
    position: relative;
    top: -5%;

    width: 100%;
    height: 100%;
    background: var(--main-contrast-color);

    background: linear-gradient(to bottom, rgba(80,80,80,0) 2%, var(--main-contrast-color) 8%, var(--main-contrast-color) 98%, rgba(80,80,80,0) 100%);
    transform-origin: left top;
    animation: scaleProgress auto linear;
    /* FIXME */
    animation-timeline: scroll(root);
}

@keyframes scaleProgress {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.container {
    display: grid;
    padding-top: 2%;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 3fr 40px;
}

.tech {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.direction-l .tech {
    justify-content: flex-end;
    margin-left: 1em;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 570px;
    float: left;
    text-align: right;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.direction-l.show {
    opacity: 1;
    transform: translateX(0);
}

.direction-r {
    position: relative;
    width: 570px;
    float: right;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.direction-r.show {
    opacity: 1;
    transform: translateX(0);
}

.flag-wrapper {
    position: relative;
    display: inline-block;

    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    /* background: rgb(248,248,248); */
    background: var(--main-bg-color);
    border: 1px solid var(--main-lg-color);
    color: var(--main-contrast-color);
    padding: 6px 10px;
    border-radius: 5px;

    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid var(--main-lg-color);
    z-index: 10;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: var(--main-lg-color);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: var(--main-lg-color);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;

    line-height: 1em;
    font-size: 0.66666em;
    color: var(--main-lg-color);
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: var(--main-bg-color);
}

.desc {
    margin: 0em 0.75em 1em 0;
    padding: 1em;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.5em;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--main-lg-color);
    border-top: 1px solid var(--main-lg-color);
    color: var(--main-lg-color);
}

.direction-r .desc {
    margin: 0em 0 1em 0.75em;
    padding-bottom: 1em;
}


.circle-1-bottom {
    position: absolute;
    margin-left: -180px;
    width: 627px;
    height: 627px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 40% 50% 0;
    animation: spin 15s linear 0s infinite reverse;
}

.circle-2-bottom {
    position: absolute;
    margin-right: 130px;
    width: 440px;
    height: 440px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 30% 40% 0;
    animation: spin 15s linear 0s infinite;
}

.circle-3-bottom {
    position: absolute;
    margin-left: 50px;
    width: 627px;
    height: 627px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 65% 60% 0;
    animation: spin 15s linear 0s infinite;
}

.circle-4-bottom {
    position: absolute;
    margin-left: 121px;
    width: 188px;
    height: 188px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 75% 50% 0;
    animation: spin 15s linear 0s infinite reverse;
}

.circle-5-bottom{
    position: absolute;
    width: 406px;
    height: 406px;
    border: 1px solid #deb992;
    border-radius: 98%;
    transform-origin: 75% 50% 0;
    animation: spin 15s linear 0s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ================ Timeline Media Queries ================ */
@media screen and (max-width: 1200px) {
    .timeline {
        width: 660px;
    }

    .direction-r {
        width: 300px;
    }

    .direction-l {
        width: 300px;
    }
}

@media screen and (max-width: 660px) {

    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }

    .timeline li {
        padding: 2em 0;
    }

    .direction-l,
    .direction-r {
        float: none;
        width: 100%;

        text-align: center;
    }

    .flag-wrapper {
        text-align: center;
    }

    .flag {
        background: var(--main-bg-color);
        z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid var(--main-lg-color);
        z-index: 10;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: var(--main-lg-color);
        border-width: 8px;
        pointer-events: none;
    }

    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }

    .direction-l .time-wrapper {
        float: none;
    }

    .direction-r .time-wrapper {
        float: none;
    }

    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        color: var(--main-lg-color);
        font-size: 1rem;
        background: var(--main-bg-color);
    }

    .tech {
        background-color: var(--main-bg-color);
        justify-content: space-around;
    }

    .direction-l .tech {
        justify-content: space-around;
    }

    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 1em 1em;
        padding: 1em;
        padding-bottom: 1em;
        z-index: 15;
    }
}

@media screen and (min-width: 400px ?? max-width: 660px) {

    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
    }

}

.view {
    display: flex;
    justify-content: space-evenly;
}

.viewButton {
    display: flex;
    align-items: center;

    min-width: 120px;
    min-height: 40px;

    border-radius: 10px;
    transition: background-color 0.3s ease; /* Transition sur la couleur de fond pendant 0.3 seconde avec une fonction d'accélération */
    background-color: #2C3E50;
    color: #FFF;
}

.viewButton:hover {
    cursor: pointer;
    background-color: #43596F;
}

.viewButton img {
    width: 20px;
    height: 20px;
    padding: 5px;
}

.viewButton:hover img {
    animation: testAnimation 2s ease forwards;
}

@keyframes testAnimation {
    0% {
        transform: rotate(20deg);
    }
    10% {
        transform: rotate(25deg);
    }
    20% {
        transform: translateY(-20px) translateX(50px);
    }
    40% {
        transform: translateY(-20px) translateX(50px);
    }
    50% {
        transform: translateY(-20px) translateX(50px);
    }
    60% {
        transform: translateY(-20px) translateY(50px);
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
