#terminal-container-Home {
    margin-top: 5%;
    width: 70%;
    border-radius: 5px;
    border: 1px solid var(--main-contrast-color);
    overflow: hidden;
}

#terminal-container-ft_container{
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--main-contrast-color);
    overflow: hidden;
}

#terminal-container-ft_irc {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--main-contrast-color);
    overflow: hidden;
}

#terminal-container-Minishell {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--main-contrast-color);
    overflow: hidden;
}

#terminal-container-Philosophers {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--main-contrast-color);
    overflow: hidden;
}

#terminal-container-PushSwap {
    position: relative;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--main-contrast-color);
    overflow: hidden;
}
